.flexContainer{
	display: flex;
	/*puts margin*/
	justify-content: space-between; 
	flex-direction: row;
}

[class ^='box-']{
	/*border:solid 1px grey;*/
	/*define the width of each box*/
	/*flex-basis:10%;*/
}

[class ^='div']:before{
	clear:both;
	display: block;
}

.boxLong{
	flex:1;
	/*flex-basis:25%;*/
	min-width:100px;
	/*text-align: right;*/
}


.boxShort{
	flex:1;
	min-width:100px;
	/*margin-left: 3em;*/
}

.boxShop{
   flex: 1; 
}

.boxSearch{
	flex: 1;
	display: inline-block;
	position: relative;
}

.logobox{
	flex: 3;
}

.productBtnBox{
	flex:3;
	margin:1em;
}
.nav{
	flex:3;
	display: flex;
	margin-top:1em;
}


/*when the device has a max width of 76em*/
@media (max-width:76.87em){
		.boxLong{
			flex:2;
		}
		.boxShort{
			flex:1.5;
		}

} 
/*when the device has a minimum width of 76em*/


.box-flex1{
	flex:1;
}
.box-flex2{
	flex:2;
	display: flex;
	justify-content: space-between;
}
.box-flex3{
	flex:3;

}

.box-flex4{
	flex:4;
}

.box-flex6{
	flex:6;	
}
.box-flex8{
	flex:8;
}