.flexContainer{
	display: flex;
	flex-direction: row;
	align-items:center;
}

[class ^='box-']{
}

[class ^='div']:before{
	clear:both;
	display: block;
}

.boxLong{
	flex:1 1 auto;
	min-width:50px;
	width: 5%;
}


.boxShort{
	flex:1 1 auto;
	min-width:50px;
	width: 5%;
}

.boxShop{
   flex: 1 1 auto; 
   width: 5%;
   min-width:30px;
}

.boxSearch{
	flex: 1 1 auto;
	display: inline-block;
	position: relative;
	width: 10%;
	min-width:65px;
	float: right;
}

.logobox{
	flex: 0 1 auto;
	width: 30%;
	margin-top: 0.6em;
	font-family: "gravity-bold";
    font-size: 1.3em;
    min-width: 140px;
}

.productBtnBox{
	flex:3 1 auto;
	margin:1em;
	width: 40%;
	min-width:50px;
	padding-left:1.5em;
}

.nav{
	flex:1 1 auto;
	display: flex;
	margin-top:1em;
	width: 30%;
	/*padding-top:.8em;*/
}

.checkoutbox {

}
.checkout-process{
	flex:0 1 auto;
}
.checkout-summary{
	flex:1 1 auto;
}


/*when the device has a max width of 76em*/
@media (max-width:76.87em){
		.boxLong{
			flex:1 1 auto;
		}
		.boxShort{
			flex:1.5;
		}

} 
/*when the device has a minimum width of 76em*/


.box-flex1{
	flex:1 1 auto;
}
.box-flex2{
	flex:2 1 auto;
	flex-wrap: wrap;

}
.box-flex2 img{
	align-self: center;
}
.box-flex3{
	flex:3 1 auto;

}

.box-flex4{
	flex:4 1 auto;
}

.box-flex6{
	flex:6 1 auto;	
}
.box-flex8{
	flex:8 1 auto;
}


@media screen and (max-width: 50rem){
	 .nav{
	    display: none;
	 }
	 .logobox{
	 	font-size: 1em;
	 	margin-bottom: 1em;
	 	
	 }

}