
.homepageBg{
	/* for browser that don't support gradient */
	background:#B7C1EA;
	/* gradient color */
	background:-webkit-linear-gradient(#B7C1EA, #C3ABC7);
	background: -moz-linear-gradient(#B7C1EA, #C3ABC7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#B7C1EA, #C3ABC7);
	background-repeat: no-repeat;
	
	width:100vw;
	height:100vh;
	/*border: solid;*/
}
.home-text{
    position: absolute;
    height: 200px;
    left: 50%;
    margin: -200px -270px;
    top: 50%;
}
.home-text p{
	font-family:gravity-bold;
	font-size:1.8em;
	color:white;
	text-align: center;
	line-height: 1.4em;
	letter-spacing: 1px;

}

.home-product{
    bottom: 0px;
    left: 50%;
    position: absolute;
    margin: auto -320px
}
.home-product img{
    display: inline-block;
    width: 50%;
    left: 50%;
    height: auto;
    float: left;
}



.home-product-detail{
	width: 300px;
    position: relative;
    margin-top: 20%;
    color:white;
    letter-spacing: .5px;
    vertical-align: middle;
    display: inline-block;

}

.home-product-detail .btn{
	width:50%;
}

/* when the viewport width is greater than 76.87em */
@media (min-width:76.87em){
	.div-homepage{
		display: flex;
	}



}

/* when viewport width is smaller than 76em, */
@media (max-width:76.87em){
	.div-homepage{
		display:block;
	}

	
}

@media (max-width:60em){
	.logo h1{
		font-size:80%;
	}
}

/************* product list flyout panel ******************/

#productListPanel{
	position:absolute;
	/*width:80%;*/
	width:0;
	height:100%;
	top:0;
	left:0;
	/*border:solid red;*/
	background-color: white;
	overflow: hidden;
	/* this panel will above all content that not belongs to productlist */
	z-index: 100;
	/* tell the productlist panel to transit the width in a linear style */
	-webkit-transition:width 0.2s linear 0s;
	transition:width 0.2s linear 0s;
}
#productListPanel h2{
    margin-top: 3em;
    position: relative;
    left: 50%;
    margin-left: -100px;
    margin-bottom: 3em;
    font-family: gravity-bold;

}
#productListPanel p{
	position: relative;
	left:10%;
}

#coverPanel{
	z-index: 10;
	position:absolute;
	background-color: black;
	opacity:.2;
	height:100vh;
	width:100%;
	top:0;
	display: none;
}

.productList{
	margin-top:-1em;
}




