html,body{
	width:100% !important;
	height:100% !important;
	margin:0;
	padding:0;
	overflow-x: hidden;
}

.home-text{
    text-align: center;
    height: 200px;
    margin-top: 20%;
}
.home-text p{
	font-family:gravity-bold;
	font-size:1.8em;
	color:white;
	text-align: center;
	line-height: 1.4em;
	letter-spacing: 1px;

}
.home-product{
	text-align:right;
	padding-right:10%;
	padding-top:20%;
}
.home-product img{
    display: inline-block;
    width: 50%;
    left: 25%;
    height: auto;
    bottom: 0;
    position: absolute;
    max-width: 600px;
}

.home-product-detail{
	width: 240px;
    position: relative;
    margin-top: 20%;
    color:white;
    letter-spacing: .5px;
    vertical-align: middle;
    display: inline-block;
    text-align:left;

}

.home-product-detail .btn{
	width:50%;
}







@media(min-width:20em){
	.home-product img{
	    display: inline-block;

	    bottom: 0;
	    position: absolute;
	    /*width:400px;*/
	    width:100%;
	    max-width: 320px;
	    left:5%;
	    opacity:.3;
	}
	.home-product-detail{
		width: 240px;
	    position: absolute;
	    display: inline-block;
	    text-align:center;

	    bottom:5%;
	    right:10%;

	}	

	.home-text{
		font-size:.65em;
		margin-top: 15%;
	}


}

@media(min-width:25.86em){
.home-product img{
    display: inline-block;

    bottom: 0;
    position: absolute;
    /*width:400px;*/
    width:100%;
    max-width: 430px;
    left:5%;
    opacity:.3;
}
	.home-product-detail{
		width: 240px;
	    position: absolute;
	    display: inline-block;
	    text-align:center;

	    bottom:5%;
	    right:22%;

	}	

	.home-text{
		font-size:70%;
		margin-top: 35%;
	}
}

@media(min-width:41.13em){
	.home-product img{
	    display: inline-block;
	    left: 10%;
	    height: auto;
	    bottom: 0;
	    position: absolute;
	    width:600px;
	    max-width: 600px;
	    opacity: .3;
	}
	.home-product-detail{
		width: 240px;
	    position: absolute;
	    color:white;


	    display: inline-block;
	    text-align:center;

	    bottom:5%;
	    right:32%;

	}	

	.home-text{
		font-size:80%;
		margin-top: 30%;
	}
}

@media(min-width: 47.43em){
	.home-product img{
	    display: inline-block;

	    left: 13%;
	    height: auto;
	    bottom: 0;
	    position: absolute;

	    min-width:600px;
	    opacity: .3;
	}
	.home-product-detail{
		width: 240px;
	    position: absolute;
	    color:white;
	    letter-spacing: .5px;
	    vertical-align: middle;
	    display: inline-block;
	    text-align:center;

	    bottom:5%;
	    right:33%;
	}	
}

@media(min-width: 56em){
	.home-product img{
	    display: inline-block;
	    width: 50%;
	    left: 0%;
	    height: auto;
	    bottom: 0;
	    position: absolute;
	    max-width: 600px;
	    min-width:600px;

	    opacity:1;
	}
	.home-product-detail{
		width: 240px;
	    position: absolute;
	    color:white;
	    letter-spacing: .5px;
	    vertical-align: middle;
	    display: inline-block;
	    text-align:left;

	    bottom:10%;
	    right:15%;
	}	
	.home-text{
		margin-top:25%;
	}	

}
@media(min-width: 63.81em){
	.home-product-detail{
	    right:3%;
	}
	.home-product img{
	    display: inline-block;
	    left: 25%;
	    height: auto;
	    bottom: 0;
	    position: absolute;
	    max-width: 600px;
	    width:600px;

	    opacity:1;
	}	
}
@media(min-width: 71.15em){
	.home-product-detail{
	    right:15%;
	}
	.home-product img{
	    display: inline-block;
	    left: 26%;
	    height: auto;
	    bottom: 0;
	    position: absolute;
	    max-width: 600px;
	    width:600px;

	    opacity:1;
	}

	.home-text{
		margin-top:10%;
	}
	
}

@media(min-width: 90.93em){
	.home-product-detail{
	    right:20%;
	}
	.home-product img{
	    display: inline-block;
	    left: 30%;
	    height: auto;
	    bottom: 0;
	    position: absolute;
	    max-width: 600px;
	    width:600px;

	    opacity:1;
	}

	.home-text{
		margin-top:10%;
	}
	
}


/* when the viewport width is greater than 69em */
/* 1529px */
@media(min-width:95.56em){
	.home-product img{
	    display: inline-block;
	    width: 50%;
	    left: 30%;
	    height: auto;
	    bottom: 0;
	    position: absolute;
	    max-width: 600px;
	}
	.home-product-detail{
		width: 240px;
	    position: absolute;
	    color:white;
	    letter-spacing: .5px;
	    vertical-align: middle;
	    display: inline-block;
	    text-align:left;

	    bottom:10%;
	    right:20%;
	}

}

/************* product list flyout panel ******************/

#productListPanel{
	position:absolute;
	/*width:80%;*/
	width:0;
	height:100%;
	top:0;
	left:0;
	/*border:solid red;*/
	background-color: white;
	overflow: scroll;
	/* this panel will above all content that not belongs to productlist */
	z-index: 100;
	/* tell the productlist panel to transit the width in a linear style */
	-webkit-transition:width 0.2s linear 0s;
	transition:width 0.2s linear 0s;
}
#productListPanel h2{
    margin-top: 3em;
    position: relative;
    text-align: center;
    margin-bottom: 3em;
    font-family: gravity-bold;

}
#productListPanel .filter span{

	font-size:.8em;
}

#productListPanel .filter{
	position: relative;
	left:10%;
	z-index: 100;
}

#productListPanel .filter select{
	z-index: 100;
	color:#6DC1E2;
	border:white;
	background-color:none;
}

#coverPanel{
	z-index: 10;
	position:absolute;
	background-color: black;
	opacity:.2;
	height:100vh;
	width:100%;
	top:0;
	display: none;
}





