html,body{
	width:100% !important;
	height:100% !important;
	margin:0;
	padding:0;
	overflow-x: hidden;
}

.home-text{
    text-align: center;
    height: 200px;
    margin-top: 20%;
}
.home-text p{
	font-family:gravity-bold;
	font-size:1.8em;
	color:white;
	text-align: center;
	line-height: 1.4em;
	letter-spacing: 1px;

}
.home-product{
	bottom:0;
	text-align:right;
	padding-right:10%;
	padding-top:20%;
}
.home-product img{
    display: inline-block;
    width: 50%;
    left: 25%;
    height: auto;
    bottom: 0;
    position: absolute;
    max-width: 600px;
}

.home-product-detail{
	width: 240px;
    position: relative;
    margin-top: 20%;
    color:white;
    letter-spacing: .5px;
    vertical-align: middle;
    display: inline-block;
    text-align:left;

}

.home-product-detail .btn{
	width:50%;
}



@media(min-width:20em){
	.home-product img{
		width:94%;
	    max-width: 100vw;
	    left:5%;
	    opacity:.3;
	}
	.home-product-detail{
		width: 240px;
	    position: absolute;
	    display: inline-block;
	    text-align:center;

	    bottom:5%;
	    right:10%;

	}	

	.home-text{
		font-size:.65em;
		margin-top: 15%;
	}


}

@media(min-width:25.86em){
.home-product img{
    max-width: 100vw;
    left:5%;
    opacity:.3;
}
	.home-product-detail{
		width: 240px;
	    position: absolute;
	    display: inline-block;
	    text-align:center;

	    bottom:5%;
	    right:22%;

	}	


	.home-text{
		font-size:70%;
		margin-top: 35%;
	}
}

@media(min-width:41.13em){
	.home-product img{
	    left: 10%;
	    width:600px;
	    max-width: 100vw;
	    opacity: .3;
	}
	.home-product-detail{
		width: 240px;
	    position: absolute;
	    color:white;


	    display: inline-block;
	    text-align:center;

	    bottom:5%;
	    right:32%;

	}	

	.home-text{
		font-size:80%;
		margin-top: 30%;
	}
}

@media(min-width: 47.43em){
	.home-product img{
	    left: 13%;
	    opacity: .3;
	}

	.home-product-detail{
		width: 240px;
	    position: absolute;
	    color:white;
	    letter-spacing: .5px;
	    vertical-align: middle;
	    display: inline-block;
	    text-align:center;

	    bottom:5%;
	    right:33%;
	}	
}

@media(min-width: 56em){
	.home-product img{
	    width: 50%;
	    left: 0%;
	    max-width: 600px;
	    min-width:600px;

	    opacity:1;
	}
	.home-product-detail{
		width: 240px;
	    position: absolute;
	    color:white;
	    letter-spacing: .5px;
	    vertical-align: middle;
	    display: inline-block;
	    text-align:left;

	    bottom:10%;
	    right:15%;
	}	
	.home-text{
		margin-top:25%;
	}	

}
@media(min-width: 63.81em){
	.home-product-detail{
	    right:3%;
	}
	.home-product img{
	    left: 25%;
	}	
}
@media(min-width: 71.15em){
	.home-product-detail{
	    right:15%;
	}
	.home-product img{
	    left: 26%;
	}

	.home-text{
		margin-top:10%;
	}
	
}

@media(min-width: 90.93em){
	.home-product-detail{
	    right:20%;
	}
	.home-product img{
	    left: 30%;
	}

	.home-text{
		margin-top:10%;
	}
	
}


/* when the viewport width is greater than 69em */
/* 1529px */
@media(min-width:95.56em){
	.home-product img{
	    width: 50%;
	    left: 30%;
	}
	.home-product-detail{
		width: 240px;
	    position: absolute;
	    color:white;
	    letter-spacing: .5px;
	    vertical-align: middle;
	    display: inline-block;
	    text-align:left;

	    bottom:10%;
	    right:20%;
	}

}





