
/* import fonts */
@font-face{
	/* font for all paragraphs and headings */
    font-family:gravity;
    src:url("../font/Gravity-Regular.otf") format("opentype");
}
@font-face{
	/* font for figcaptions, low hierarchy */
    font-family:gravity-book;
    src:url("../font/Gravity-Book.otf") format("opentype");
}

@font-face{
	/* font for some headings, high hierarchy */
    font-family:gravity-bold;
    src:url("../font/Gravity-Bold.otf") format("opentype");
}

@font-face{
	/* font for some headings, high hierarchy */
    font-family:gravity-light;
    src:url("../font/Gravity-Light.otf") format("opentype");
}


/*all attributes*/
*{
	/* set default font as gravity */
	font-family: gravity;
	box-sizing: border-box;
}

/* text elements */
h1,h2,h3{
	/*set margin for three headings*/
	margin:.5em 0 .8em;
}

h1{
	font-family:gravity-bold;
	font-size:3rem;
}

h2{
	font-size:2rem;
	font-family:gravity-light;
	color:rgb(68,68,68);
}

h3{
	font-size:1.3rem;
}


.productDetail{
	font-size:.8em;
	line-height: 20px;
}

body{
	font-size:1em;
	margin:0%;
	width:100%;
}

.subTitle{
	font-family:gravity-bold;
	margin-top:-.2em;
	color:rgb(130,130,130);
}
/* end of text elements */

/* interactive elements */
/* a and a visited */
a,a:visited{
	color:black;
	text-decoration: none;
	font-family:gravity-bold;

	/* make color transition*/
	-webkit-transition:color .5s;
	transition:color .5s;
}
/*<a> in hover*/
a:hover{
	color:rgb(150,150,150);
	text-decoration: none;
	cursor:pointer;
}

.btn{
	margin:0;
	box-sizing:border-box;
	padding: .8em;
	border:solid 1px;
	/*width:7.5em;*/
	height:100%;
	display: inline-block;

	/* make color transition*/
	-webkit-transition:border-color .5s;
	transition:border-color .5s;
}
.btn:hover{
	border-color:rgb(200,200,200);
}
.btn a{
	letter-spacing: 2px;
}

#productBtn{
	margin:0;
	padding: .4em 1em .7em 1em;
	border:solid 1px rgb(150,150,150);
	width:3.5em;
	height:100%;
	display: inline-block;
	line-height:80%;
	letter-spacing: 2px;
	/* make color transition*/
	-webkit-transition:border-color .5s;
	transition:border-color .5s;	
}

#productBtn span{
	-webkit-transition:color .5s;
	transition:color .5s;
}

#productBtn:hover{
	cursor:pointer;
	border-color: rgb(100,100,100);

}
#productBtn:hover span{
	color:rgb(150,150,150);
}

.closeProductListBtn{
	margin:.9em; 
	/*padding: 1.2em 0 0 .9em;*/
	/*border:solid 1px rgb(150,150,150);*/
	width:2em;
	height:2em;
	display: block;
	line-height:80%;
	letter-spacing: 2px;
	/* make color transition*/
	-webkit-transition:border-color .5s;
	transition:border-color .5s;	
}

.closeProductListBtn:hover{
	cursor:pointer;
	border-color: rgb(100,100,100);

}
.closeProductListBtn img{
	width:100%;
	opacity:.5;
	height:auto;
	-webkit-transition:webkit-transform .5s;
	transition: transform .5s;		
}
.closeProductListBtn:hover img{
	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.subBtn{
	margin:0;
	padding: .8em 2.7em;

	border:2px #25bdce solid;
	background-color:white;
	width:7.5em;
	height:100%;
	display: inline-block;
	/* make color transition*/
	-webkit-transition:background-color .5s;
	transition:background-color .5s;	
}

.subBtn a{
	color:black;
	letter-spacing: 2px;
	-webkit-transition:color .5s;
	transition:color .5s;	
	font-family: gravity-book;
}
.subBtn:hover{
	background-color:#25bdce;
}

.subBtn a:hover{
	color:white;
}

label{
	font-size:1.2em;
}

input{

	font-size:1em;
}

ul{
	list-style: none;
}

ol{
	list-style-type: decimal;
}

nav{
	width:70%;
	margin:0;
}

/*search function*/

.boxShop img{
	width: 20%;
	float: right;
}

.boxSearch input[type="text"] {
  height: 28px;
  font-size: 1.3em;
  display: inline-block;
  font-family: "gravity";
  border: none;
  outline: none;
  color: #555;
  padding: 10px;
  width: 0px;
  position: absolute;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}
.boxSearch input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
}
.boxSearch input[type="text"]:focus {
  width: 150%;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}
.boxSearch input[type="submit"] {
	/*float: right;*/
	width: 10%;
	background-image: url("../img/search.png")  no-repeat;
	background-size: contain;
	display: inline-block;
	position: absolute;
	border: none;
	text-indent: -10000px;
    /*right: 0;*/
	z-index: 2;
	opacity: 0.4;
	cursor: pointer;
	transition: opacity .4s ease;
	/*overflow: hidden;*/
}
.boxSearch input[type="submit"]:hover {
  opacity: 0.8;
}

.topLogo{
	margin-left:2em;
}

/* interactive elements end!!!! */

/* combine elements */
.productList{
	width:90%;
	margin-left:3em;
	display: block;
	position: absolute;
}

.productListItem{
	width:20em;
	margin:2em 1em 0 4em;
	display:inline-block;
	float:left;

}
.productListItem::after{
	clear: both;
}

.productListItem img{
	width:auto;
	height:320px;
}

.productListItem figcaption p{
	font-family: gravity-bold;
	line-height: .3em;

}
.productListItem .productListPrice{
	font-family:gravity-light;
	color:rgb(100,100,100);
}


.colorBlue{
	background-color:#25bdce;
}
.colorBlack{
	background-color:rgb(0,0,0);
}
.colorGrey{
	background-color:rgb(200,200,200);
}
