.confirmation .shopping-cart h3, .shopping-cart h3 {
	font-size: 1.3em;
	/*font-weight: bold;*/
	font-family: "gravity-bold";
  display: inline-block;
  color: rgb(197, 197, 197);
}

.shopping-cart{
	/*width: 90%;*/
  margin: 1em 3em;
  background-color: white;
  padding: 30px;
}

.product-image {
  float: left;
  width: 30%;
}

.product-details {
  float: left;
  width: 18%;
}

.product-price {
  float: left;
  width: 15%;
}

.product-quantity {
  float: left;
  width: 10%;
}

.product-line-price {
  float: left;
  width: 9%;
  text-align: right;
}

.product-removal {
  float: right;
  width: 18%;
}
.homepageBg.bg1{
  overflow: visible;
  overflow-x: hidden;
  height: 160vh;
}
.homepageBg.bg1.bg2{
  height: 100vh;
}

/* This is used as the traditional .clearfix class */
.group:before, .shopping-cart:before, .column-labels:before, .product:before, .totals-item:before,
.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after,
.totals-item:after {
  content: '';
  display: table;
}

.group:after, .shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {
  clear: both;
}

.group, .shopping-cart, .column-labels, .product, .totals-item {
  zoom: 1;
}

.product .product-price:before, .product .product-line-price:before, .totals-value:before {
  content: '$';
}

.product {
  font-size: 1.2em;
}

/* Column headers */
label{
	font-size: 1em;
	color: rgb(68,68,68);
	margin-top: 1em;
	font-family: "gravity-light";

}

.column-labels label {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid rgb(197, 197, 197);

}

.column-labels .product-image, .column-labels .product-details, .column-labels .product-removal {
  text-indent: -9999px;
}

/* Product entries */
.product {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgb(197, 197, 197);
}

.product .product-image {
  text-align: center;
}

.product .product-image img{
  width: 50%;
}

.product .product-details .product-description {
  margin: 5px 0px;
}
.product-details .product-title{
  font-family: "gravity-bold";
  font-size: 1.35em;
}

.product .product-quantity input {
  width: 50px;
  margin-left: 1em;
}

.product .remove-product {
  border: 0;
  padding: 4px 8px;
  background-color: #E52952;
  color: #fff;
  font-size: 12px;
  margin-left: 8em;
  margin-right: auto;
  -webkit-transition:background-color .5s;
  transition:background-color .5s;
}
.product .remove-product:hover{
	background-color: rgb(68,68,68);
}

/* Totals section */
.total .total-item {
  float: right;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}
.total .total-item label {
  float: left;
  clear: both;
  text-align: right;
  width: 85%;
  
}
.total .total-item .total-value {
  float: right;
  width: 15%;
  text-align: right;
  margin-top: 0.9em;
}
.total .grand-total label, .total .grand-total .total-value{
	font-size: 1.2em;
  font-family: "gravity-bold";
}
.button-container{
	/*float: right;*/
	width: 25%;
  font-size: 1em;
  margin-top:1em;
}


/*payment page*/
.contentbox.paymentbox{
  margin: 0;
  padding: 0;

}

.contentbox.paymentbox .more_container.paymentcontainer{
  margin-left: 0;
  width: 120%;
}

.shopping-cart #shopping-title h3{
  color: black;
}
.checkout-process .text-input{
  display: block;
  margin:5% 0;
}

.checkout-process{
  /*background-color: #f0f0f0;*/
  text-align: left;
  margin: 2% 4%;
  padding: 10px;
  width: 90%;

}
.checkout-process h3, .summary h3{
  padding-bottom: 1em;;
  border-bottom: 1px solid rgb(197, 197, 197);
  box-sizing: border-box;
  margin-bottom: 5%;
  width: 100%;
}

.checkout-process label{
  color: black;
  clear: both;
}
     
.checkout-process input[type=text], select{
  border: 1px solid rgb(197, 197, 197);
  box-sizing: border-box;
  width: 100%;
  padding: 3px 1px;
  float: right;
}


.checkout-summary{
  /*background-color: #f0f0f0;*/
  margin: 2% 2%;
  text-align: left;
  height: auto;
  max-height: 60vh;
  padding-left: 50px;
  border-left: 1px solid rgb(197, 197, 197);
  box-sizing: border-box;
  margin-top: -48%;
  width: 30%;
}

.summary {
  width: 100%;
  /*margin-top: 7%;*/

}
/*.summary h3{
  width: 80%;
}*/
.summary .total-item {
  float: left;
  clear: both;
  width: 120%;
  margin: 20px 0;
}

 .summary .total-item label{
  color: black;
   text-align: left;
   width: 20%;
}
.summary .total-item .total-value{
  text-align: right;
  width: 83%;
  margin-top: -20px;

}
.summary  #cart-shipping{
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(197, 197, 197);
  box-sizing: border-box;

}

.summary #cart-total{
  font-family: "gravity-bold";
}
.button-container#paysubmit{
  float: none;
  width: 100%;
}

/*confirmation page*/
 
.confirmation{
  box-sizing: border-box;
  margin: 2em 3em;
  background-color: white;
    padding-bottom: 5em;
}
.confirmationbox{
  padding: 40px 0px;
  border: 1px solid rgb(197, 197, 197);
  box-sizing: border-box;
  margin: 0em 15em;
  text-align: center;

}
.confirmation h3{
  margin-top: 50px;
  color: #E52952;
}

.button-container#home{
  width: 40%;
}

.more_container{
  display: flex;
  margin-left: 6%;
  flex-direction: row;
  align-items: center;
}
.more_container img{
  width: 70%;
}

.more_products{
  width: 33.33%;
  min-width: 224px;

}
.moretitle{
  margin: 2em 3em;
  padding: 20px 0px;

}


.moretitle h3{
  padding-bottom: 30px;
  color: black;
  border-bottom: 1px solid rgb(197, 197, 197);
  box-sizing: border-box;
}

.more_products:hover{
  opacity: 0.8;
  -webkit-transition:background-color .5s;
  transition:opacity .5s;
}





@media screen and (max-width: 61rem){
  /*reponsive shopping page*/
  .column-labels{
    text-indent:-999999px;
  }
  .column-labels label{
    display: none;
  }
  .product .product-image{
    width: 100%;
    
  }
  .product .product-image img{
    float: left;
    margin-left: 5%;
  }
  .product-details{
    float: right;
    top: 0;
    margin-top: -50%;
    margin-right: 20%;
  }
  .product .product-details .product-description{
    margin: 15% 0px
  }
  .product-price{
    text-indent:-999999px;
  }
  .product-quantity{
    float: right;
    margin-top: -30%;
    margin-right: 30%;
  }
  .product-line-price{
    float: right;
    margin-top: -20%;
    margin-right: 30%;
    font-size: 1.4em;
  }
  .product-removal{
    clear: both;
    display: block;
    float: left;

  }
  .product .remove-product{
    margin-left: 0em;
  }
  .total .total-item label{
    float: none;
  }
  .total .total-item .total-value{
    text-align: right;
    margin-top: 0em;
    /*margin-right: 3em;*/
  }
  .button-container{
    width: 100%;
  }
 .button-container#paysubmit{
    width: 93%;
  }
  .shopping-cart{
    margin: 1em 1em;

  }
  .summary{
    width: 93%;
  }


  /*confirmation page*/

  .confirmationbox{
    width: 100%;
    margin: 0;
  }

  .more_container, .contentbox{
    flex-wrap: wrap;
  }
  .more_products{
    width: 100%;
    margin-left: 20%;
  }
  .checkout-process{
    /*width: 80%;*/
  }

  .checkout-summary:before{
    clear: both;
    display: block;
    content: '';

  }
  .checkout-summary{
    margin: 0;
    border-left: 0;
    padding-left: 40px;
  }

}
@media screen and (max-width: 37rem){
  .confirmation{
    margin: 0;
  }
}
























